*{
    box-sizing: border-box;
}
body{
    padding:0;
    margin:0;
}
.calc{
    width:400px;
    background-color:black ;
    color:white;
}

.screen{
    font-size: 40px;
    height: 70px;
    font-family:monospace;
    font-weight: normal;
    color:white;
    text-align: right;
    padding: 25px,5;
}

.calc-row{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: normal;
    color:black;
    background-color:#d8d9db ;
    height: 100px;
    width: 50%
    border:none;
    border-radius: 0;
    cursor: pointer;
}
.calc-button{
    width:50%;
    font-size: 50px;
}
.calc-button:hover{
    background-color: #ebebeb;
}
.calc-button:active{
    background-color: #bbbcbe;
}

.calc-button:last-child{
    background-color: #df974c;
    color: white;
}
.calc-button:last-child:hover{
    background-color: #dfb07e;
}
.calc-button:last-child:active{
    background-color:#dd8d37
}
.double{
    width:105%;
}
.triple{
    width:159.5%;
}
.calc-row
{
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    margin-bottom: 0.5%;
}